<div id="sidebar-wrapper">
    <div class="sidebar-wrapper-brand">
        <img src="../../../assets/img/CpKingdomLogo.JPG" alt="Dashboard's Logo" class="sidebar-wrapper_logo">
    </div>

    <ul class="list-unstyled components sidebar-wrapper-nav">
        <li class="cursorpointer">
            <a routerLink="/">
                <i class="fa fa-home ml-3" aria-hidden="true"></i>Dashboard
            </a>
        </li>

        <li (click)="liClick()" class="cursorpointer">
            <a routerLinkActive="active current">
                <i class="fa fa-money ml-3" aria-hidden="true"></i>Transactions

                <ng-container *ngIf="!transactionShowUp">
                    <i class="fa fa-chevron-down ml-3" aria-hidden="true"></i>
                </ng-container>
                <ng-container *ngIf="transactionShowUp">
                    <i class="fa fa-chevron-up ml-3" aria-hidden="true"></i>
                </ng-container>
            </a>

            <ul class="collapse list-unstyled childmenu" [ngClass]="transactionShowSubChild===true?'show':''">
                <li>
                    <a routerLink="/purchase" routerLinkActive="active current">
                        <i class="fa fa-cart-plus ml-3" aria-hidden="true"></i>Purchases
                    </a>
                </li>
                <li>
                    <a routerLink="/service" routerLinkActive="active current">
                        <i class="fa fa-wrench ml-3" aria-hidden="true"></i>Services
                    </a>
                </li>
            </ul>
        </li>

        <li class="cursorpointer">
            <a routerLink="/inventory" routerLinkActive="active current">
                <i class="fa fa-list-ol ml-3" aria-hidden="true"></i>Inventory
            </a>
        </li>
        <li class="cursorpointer">
            <a routerLink="/technician" routerLinkActive="active current">
                <i class="fa fa-list-ol ml-3" aria-hidden="true"></i>Technician Monitoring
            </a>
        </li>
        <li (click)="liClickReport()" class="cursorpointer">
            <a routerLinkActive="active current">
                <i class="fa fa-book ml-3" aria-hidden="true"></i>Reports

                <ng-container *ngIf="!reportShowUp">
                    <i class="fa fa-chevron-down ml-3" aria-hidden="true"></i>
                </ng-container>
                <ng-container *ngIf="reportShowUp">
                    <i class="fa fa-chevron-up ml-3" aria-hidden="true"></i>
                </ng-container>
            </a>

            <ul class="collapse list-unstyled childmenu" [ngClass]="reportShowSubChild===true?'show':''">
                <li>
                    <a routerLink="/category" routerLinkActive="active current">
                        <i class="fa fa-list-alt ml-3" aria-hidden="true"></i>List of Collectibles
                    </a>
                </li>
                <li>
                    <a routerLink="/brand" routerLinkActive="active current">
                        <i class="fa fa-cube ml-3" aria-hidden="true"></i>Sold below SRP
                    </a>
                </li>
                <li>
                    <a routerLink="/reorderpoint" routerLinkActive="active current">
                        <i class="fa fa-cubes ml-3" aria-hidden="true"></i>Reorder Point
                    </a>
                </li>
                <li>
                    <a routerLink="/unpaidpurchase" routerLinkActive="active current">
                        <i class="fa fa-truck ml-3" aria-hidden="true"></i>Unpaid Purchase
                    </a>
                </li>
                <li>
                    <a routerLink="/unpaidservice" routerLinkActive="active current">
                        <i class="fa fa-truck ml-3" aria-hidden="true"></i>Unpaid Service
                    </a>
                </li>
            </ul>
        </li>
        <li (click)="liClickSettings()" class="cursorpointer">
            <a routerLinkActive="active current">
                <i class="fa fa-cogs ml-3" aria-hidden="true"></i>Settings

                <ng-container *ngIf="!settingShowUp">
                    <i class="fa fa-chevron-down ml-3" aria-hidden="true"></i>
                </ng-container>
                <ng-container *ngIf="settingShowUp">
                    <i class="fa fa-chevron-up ml-3" aria-hidden="true"></i>
                </ng-container>
            </a>

            <ul class="collapse list-unstyled childmenu" [ngClass]="settingShowSubChild===true?'show':''">
                <li>
                    <a routerLink="/category" routerLinkActive="active current">
                        <i class="fa fa-list-alt ml-3" aria-hidden="true"></i>Categories
                    </a>
                </li>
                <li>
                    <a routerLink="/brand" routerLinkActive="active current">
                        <i class="fa fa-cube ml-3" aria-hidden="true"></i>Brands
                    </a>
                </li>
                <li>
                    <a routerLink="/item" routerLinkActive="active current">
                        <i class="fa fa-cubes ml-3" aria-hidden="true"></i>Items
                    </a>
                </li>
                <li>
                    <a routerLink="/supplier" routerLinkActive="active current">
                        <i class="fa fa-truck ml-3" aria-hidden="true"></i>Suppliers
                    </a>
                </li>
                <li>
                    <a routerLink="/staff" routerLinkActive="active current">
                        <i class="fa fa-users ml-3" aria-hidden="true"></i>Staffs
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="content">
    <div id="content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <router-outlet>

                </router-outlet>
            </div>
        </div>
    </div>
</div>


