<div id="sidebar-wrapper" [ngClass]="!visible ? 'hidenav' : 'visible'">
    <div class="sidebar-wrapper-brand">
        <img src="../../../assets/img/CpKingdomLogo.JPG" alt="Dashboard's Logo" class="sidebar-wrapper_logo">
    </div>

    <ul class="list-unstyled components sidebar-wrapper-nav">
        <ng-container *ngFor="let module of modules">
            <li class="cursorpointer" *ngIf="module.submodules.length === 0">
                <a [routerLink]="module.route">
                    <i [ngClass]="'fa ' + module.icon" class="ml-3" aria-hidden="true"></i>
                    {{module.moduleName}}
                </a>
            </li>
            
            <li (click)="liClick()" class="cursorpointer" *ngIf="module.submodules.length > 0">
                <a routerLinkActive="active current">
                    <i [ngClass]="'fa ' + module.icon" class="ml-3" aria-hidden="true"></i>
                    {{module.moduleName}}
                    <ng-container *ngIf="!transactionShowUp">
                        <i class="fa fa-chevron-down ml-3" aria-hidden="true"></i>
                    </ng-container>
                    <ng-container *ngIf="transactionShowUp">
                        <i class="fa fa-chevron-up ml-3" aria-hidden="true"></i>
                    </ng-container>
                </a>
                <ul class="collapse list-unstyled childmenu" [ngClass]="transactionShowSubChild===true?'show':''">
                    <li *ngFor="let submodule of module.submodules">
                        <a [routerLink]="submodule.route">
                            <i [ngClass]="'fa ' + submodule.icon" class="ml-3" aria-hidden="true"></i>
                            {{submodule.moduleName}}
                        </a>
                    </li>
                </ul>
            </li>
        </ng-container>
    
        <li class="cursorpointer">
            <a (click)="logout()">
                <i class="fa fa-sign-out ml-3" aria-hidden="true"></i>
                Logout
            </a>
        </li>
    </ul>
</div>
<div id="content" [ngStyle]="{'margin-left': visible ? '250px' : '0'}">
    <div id="content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <router-outlet> </router-outlet>
            </div>
        </div>
    </div>
</div>