<div class="row mx-1 mb-3 DashboardDesktopView">
    <div class="col custom-border text-center text-white pt-3 mx-1" style="background-color:#67bfb1">
        <h6>Today's Purchase Transactions</h6>
        <h1>{{TodayPurchase}}</h1>
        <hr />
        <p>Yesterday: {{YesterdayPurchase}}</p>
    </div>
    <div class="col custom-border text-center text-white pt-3 mx-1" style="background-color:#68b5bd">
        <h6>Today's Service Transactions</h6>
        <h1>{{TodayService}}</h1>
        <hr />
        <p>Yesterday: {{YesterdayService}}</p>
    </div>
    <div class="col custom-border text-center text-white pt-3 mx-1" style="background-color:#bf739d">
        <h6>Items in Reorder Point</h6>
        <h1>{{ReorderPoint}}</h1>
        <hr />
    </div>
    <div class="col custom-border text-center text-white pt-3 mx-1" style="background-color:#cf7474">
        <h6>Outstanding Collectables</h6>
        <h1>&#8369; {{TotalCollectibles | number : '1.2-2'}}</h1>
        <hr />
    </div>
</div>